html{
    background: url(https://cdn.statically.io/img/codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg?f=webp&w=720/);
    background-size: cover;
    background-repeat: no-repeat;
}

body{
    color: white;
}

h1{
    color: white;
    border: 4px dashed black;
    text-align: center;
}

h2{
    text-align: center;
}

.img{
    width: 200px; /* Độ rộng của hình ảnh */
    height: 200px; /* Độ cao của hình ảnh */
    border-radius: 50%; /* Tạo hình tròn */
    overflow: hidden;
}

div{
    border: 3px solid black
}
